doctype html
head
  title Login
form(action='/cart/login' method='post')
  input(type='email' name='' id='' placeholder='Enter your email')
  br
  input(type='password' name='' id='' placeholder='Enter password')
  br
  button(type='submit') Login
a(href='#') Register
