doctype html
head
  title Login
form(action='/cart/login' method='post')
  input(type='email' name='email' id='' placeholder='Enter your email' required='')
  br
  input(type='password' name='password' id='' placeholder='Enter password' require='')
  br
  button(type='submit') Login
a(href='/cart/signup') Register
