doctype html
head
  title Login
form(action='/cart/signup' method='post')
  input(type="text" name='name' placeholder='Enter your name' required='')
  br
  input(type='email' name='email' id='' placeholder='Enter your email' required='')
  br
  input(type='password' name='password' id='' placeholder='Enter password' required='')
  br
  button(type='submit') SignUp
a(href='/cart/login') Login
