html
    head
        title Login
    body
        form(action="", method="post")
            input(type="text",placeholder='Enter your name')
            input(type="email", name="Username",placeholder='Enter Username')
            input(type="password", name="pword",placeholder='Enter password')
            button(type="submit")